# Ignore all executable, binary and data files
*.npy
*.npz
*.bin
Data/

# log files
*.out
*.err
*.log

# Temporary work directory
Work/
workdir/
.ipynb_checkpoints/
Viewer/

# OpenIFS original files
org/ 
openifs-48r1/
openifs-expt/
scm-ancillary/

# Hidden system files (Mac and Linux)
.DS_Store
Thumbs.
.ipynb_checkpoints

# NFS temporary files
.nfs*